<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
  	<display-name>lh-back</display-name>
  
  	  <!-- Spring监听器 -->
	  <listener>
	  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	  </listener>
	  
	  <!-- Spring应用上下文， 理解层次化的ApplicationContext -->
	  <context-param>
	  	<param-name>contextConfigLocation</param-name>
	  	<param-value>classpath:spring-config-back.xml</param-value>
	  </context-param>
	  
	  <!-- 编码过滤器 -->
	  <filter>
	  	<filter-name>encodingFilter</filter-name>
	  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	  	<async-supported>true</async-supported>
	  	<init-param>
	  		<param-name>encoding</param-name>
	  		<param-value>UTF-8</param-value>
	  	</init-param>
	  </filter>
	  <filter-mapping>
	  	<filter-name>encodingFilter</filter-name>
	  	<url-pattern>/*</url-pattern>
	  </filter-mapping>
	  
	  <!-- shiro安全过滤器 -->
	  <filter>
	  	<filter-name>shiroFilter</filter-name>
	  	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<!-- 该值缺省为false,表示生命周期由SpringApplicationContext管理,设置为true则表示由ServletContainer管理 -->  
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	  </filter>
	  <filter-mapping>
	  	<filter-name>shiroFilter</filter-name>
	  	<url-pattern>/*</url-pattern>
	  </filter-mapping>
	  
	  <!-- DispatcherServlet, Spring MVC的核心 -->
	  <servlet>
	  	<servlet-name>DispatcherServlet</servlet-name>
	  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  	<!-- DispatcherServlet对应的上下文配置 -->
	  	<init-param>
	  		<param-name>contextConfigLocation</param-name>
	  		<param-value>classpath*:spring-mvc-back.xml</param-value>
	  	</init-param>
	  	<load-on-startup>1</load-on-startup>
	  </servlet>
	  <servlet-mapping>
	  	<servlet-name>DispatcherServlet</servlet-name>
	  	<!-- DispatcherServlet拦截所有的请求-->
	  	<url-pattern>/</url-pattern>
	  </servlet-mapping>
  
</web-app>
