<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.site.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.lh.site.entity.Course" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description, cover, price, category_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_course
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="listCourse" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_course
  </select>
  <select id="listCourseByShoppingCart" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT cour.id, cour.name, cour.description, cour.cover, cour.price, cour.category_id
    FROM t_course AS cour
	INNER JOIN `t_shopping_cart` AS sca ON cour.id = sca.course_id
	WHERE sca.student_info_id = #{studentInfoId,jdbcType=BIGINT}
  </select>
</mapper>