.jumbotron{margin-bottom: 0px;}

.course-nav-row {padding: 16px 0 5px; border-bottom: 1px solid #edf1f2; }
.course-nav-row .label {float: left;line-height: 30px; color: #07111b; }
.course-nav-row .nav { padding-left: 50px; }

.course-cont{margin-top: 20px;}

nav[aria-label='Page navigation']{text-align: center;}

.copyright p{margin: 20px 0px;}

.thumbnail a img{height:120px;}