<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.back.dao.ChapterMapper" >
  <resultMap id="BaseResultMap" type="com.lh.back.entity.Chapter" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="course_id" property="courseId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, course_id, name, url, parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_chapter
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_chapter
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lh.back.entity.Chapter" >
    insert into t_chapter (id, course_id, name, 
      url, parent_id)
    values (#{id,jdbcType=BIGINT}, #{courseId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lh.back.entity.Chapter" >
    insert into t_chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lh.back.entity.Chapter" >
    update t_chapter
    <set >
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lh.back.entity.Chapter" >
    update t_chapter
    set course_id = #{courseId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
 	<!-- 批量删除章节 -->
    <delete id="deleteChapterByBatch" parameterType="java.util.ArrayList">
  	delete from t_course where id in
   	<foreach collection="chapterIds" open="(" close=")" item="item" separator=",">
       #{item,jdbcType=BIGINT}
   </foreach>
   and parent_id in 
    <foreach collection="chapterIds" open="(" close=")" item="item" separator=",">
        <if test="item == -1" >
		  #{item,jdbcType=BIGINT}
   		</if>
   </foreach>
  </delete>
  <!-- 章节列表 -->
   <select id="listChapter" resultMap="BaseResultMap" parameterType="com.lh.back.entity.Chapter">
  	select 
    <include refid="Base_Column_List" />
    from t_course
    <where>
    	<trim prefix=" 1 = 1 ">
		   <if test="id != null" >
	        #{id,jdbcType=BIGINT},
	      </if>
	      <if test="courseId != null" >
	        #{courseId,jdbcType=BIGINT},
	      </if>
	      <if test="name != null" >
	        #{name,jdbcType=VARCHAR},
	      </if>
	      <if test="url != null" >
	        #{url,jdbcType=VARCHAR},
	      </if>
	      <if test="parentId != null" >
	        #{parentId,jdbcType=BIGINT},
	      </if>
		</trim>
    </where>
  </select>
</mapper>