<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.back.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.lh.back.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="CHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, username, password
  </sql>
  <select id="selectByUsername" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from sys_user 
  	where username = #{username,jdbcType=VARCHAR}
  </select>
  
</mapper>